:root {
  --blue: #2a2552;
  --green: #3ad4af;
  --light-green: #e6f7f3;
  --blackish: #212529;
  --grey: #c5c3c3;
  --white: #ffffff;
  --blue-bg: #e9f2fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

body {
  font-family: "Jost", sans-serif;
}

.container {
  text-align: center;
  margin: 2rem 2rem;
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.grey {
  color: var(--grey);
}

.big-text {
  font-size: 2.5rem;
  word-spacing: 1%;
}

.medium-text {
  font-size: 1.8rem;
  word-spacing: 1%;
}

/* **************************** */
/* **************************** */
/* ********    Navigation   **************** */
/* **************************** */
/* **************************** */

nav,
.hero-section {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  padding: 0.75rem 1.2rem;
}

.logo p {
  border-bottom: solid 2px var(--green);
}

.menu ul {
  display: flex;
  justify-content: space-between;
}

.menu ul li {
  list-style-type: none;
  padding: 0.75rem 1.2rem;
  margin-left: 1rem;
}

.menu ul li a {
  text-decoration: none;
  color: var(--blue);
}

.button {
  background-color: var(--green);
  color: var(--blue);
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

/* **************************** */
/* **************************** */
/* ********    HERO   **************** */
/* **************************** */
/* **************************** */

#hero {
  background-image: url("./../assets/images/01.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 2rem;
  gap: 2rem;
}

.hero-text, .hero-img {
  padding: 4rem 0 0 0;
}

.social-icons,
.heading {
  margin: 1.2rem 0;
}

.social-icons img {
  width: 40px;
  margin-right: 0.4rem;
}

.hero-img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border: 2px solid rgb(0, 0, 0);
}

/* **************************** */
/* **************************** */
/* ********    Skills   **************** */
/* **************************** */
/* **************************** */
#skills {
  background-image: url('../assets/images/02.svg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: cover;
}

.skills-imgs {
  max-width: 720px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;

}

.skill {
  justify-self: center;
  width: 60px;
  height: 60px;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 7px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

/* **************************** */
/* **************************** */
/* ********    PROJECTS   **************** */
/* **************************** */
/* **************************** */
#projects {
  padding: 1rem 3rem;
  box-sizing: border-box;
  background-image: url("./../assets/images/03.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: cover;
}

.headline {
  text-align: center;
  margin: 6rem auto;
}

.headline h1 {
  display: inline-block;
  border-bottom: 5px solid var(--green);
}

.flex-project-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project {
  max-width: 300px;
  box-sizing: border-box;
  margin: 2rem 1rem;
  padding-bottom: 2rem;
  border-radius: 5px;
  background: linear-gradient(120deg, var(--blackish), var(--blackish));
  box-shadow: 0 0 15px 12px rgba(0, 0, 0, 0.07);
}

.project-name {
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px 12px rgba(0, 0, 0, 0.07);
}

.project-name h3 {
  margin: 1rem 0 0 1rem;
  padding: 0.2rem 0.7rem;
  color: var(--white);
  border-radius: 8px;
  display: inline-block;
  background-color: var(--blackish);
}

.p1 {
  background-image: url("./../assets/projects/shortly.png");
}

.p2 {
  background-image: url("./../assets/projects/DashboardNew.png");
}
.p3 {
  background-image: url("./../assets/projects/pizza.png");
}
.p4 {
  background-image: url("./../assets/projects/Blog.png");
}
.p5 {
  background-image: url("./../assets/projects/StackUI.png");
}

.icons {
  margin: 2rem auto 0 auto;
  text-align: center;
}

.icons img {
  margin: 0 1rem;
}

.technologies {
  margin: 0.5rem auto;
}

.technologies ul {
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
}

.technologies ul li {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin: 0.3rem auto;
  text-align: center;
  border: 1px solid var(--blue);
  border-radius: 5px;
  background: linear-gradient(120deg, var(--green), var(--green));
  color: var(--white);
}

.technologies ul li:last-child {
  margin-bottom: 1rem;
}

/* **************************** */
/* **************************** */
/* ********    Blogs   **************** */
/* **************************** */
/* **************************** */

#blogs {
  background-image: url('../assets/images/04.svg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: cover;
}


.blogs-container {
  margin: 2rem;
}

.blog {
  max-width: 900px;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  border-radius: 11px;
  overflow: hidden;
}

.thumbnail {
  flex: 1;
}

.blog-text {
  padding: 1.2rem 0.5rem;
  flex: 1.1;
}


.thumbnail img {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: cover;
}

.slug {
  margin: 1rem 1rem 0 0;
  color: #777;
}


/* **************************** */
/* **************************** */
/* ********    Experience   **************** */
/* **************************** */
/* **************************** */

#experience {
  background-image: url("./../assets/images/05.svg");
  background-repeat: no-repeat;
  background-position: cover;
  object-fit: cover;
}

/* **************************** */
/* **************************** */
/* ********    Education   **************** */
/* **************************** */
/* **************************** */

#education {
  background-image: url("./../assets/images/06.svg");
  background-repeat: no-repeat;
  background-position: cover;
  object-fit: cover;
}

.timeline-wrapper {
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
}

.item {
  border-top: 2px dotted var(--grey);
  display: inline-block;
  text-align: left;
  padding: 1rem 2rem;
  position: relative;
}

.item:first-child {
  padding-left: 0;
}

.item:last-child {
  padding-right: 0;
}

.item::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid var(--blue);
  border-radius: 50%;
  margin-top: -1.6rem;
  background-color: var(--green);
}

.more-projects {
  margin: 3rem auto 1rem auto;
  padding: 1.2rem 1rem;
  text-align: center;
  max-width: 350px;
  background-color: var(--blackish);
  border-left: 8px solid var(--green);
  border-radius: 8px;
  cursor: pointer;
  display: block;
}

.more-projects-text {
  font-size: 1.1rem;
}

#experience .timeline-wrapper .item p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
}
#education .timeline-wrapper .item p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
}

#contact {
  margin: auto;
  text-align: center;
  background-image: url("./../assets/images/07.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: cover;
}

.left2 {
  text-align: center;
  display: inline-block;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.citem {
  display: flex;
  flex-flow: row-wrap;
  text-align: left;
  justify-content: left;
  margin: 0.5rem;
}

.citem p {
  font-size: 1.2rem;
}

/* **************************** */
/* **************************** */
/* ********    Footer   **************** */
/* **************************** */
/* **************************** */

footer {
  margin: 1rem 0 0 0;
  padding: 3rem;
  background: linear-gradient(120deg, var(--green), var(--blue));
}

footer p {
  text-align: center;
  color: var(--white);
}

footer p a {
  text-decoration: none;
  color: var(--green);
}

/* **************************** */
/* **************************** */
/* ********    Media Queries   **************** */
/* **************************** */
/* **************************** */

@media screen and (max-width: 500px) {
  .container {
    margin: 1rem 1rem;
  }

  .big-text {
    font-size: 1.8rem;
    word-spacing: 0.8%;
  }

  .medium-text {
    font-size: 1.5rem;
    word-spacing: 0.8%;
  }

  .menu ul li:first-child {
    display: none;
  }
  .menu ul li:nth-child(2) {
    display: none;
  }
  .menu ul li:nth-child(3) {
    display: none;
  }

  .menu .button {
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  #hero {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-text, .hero-img {
    padding: 0;
  }

  .hero-text {
    text-align: center;
  }

  
  .skill {
    width: 55px;
    height: 55px;
    margin: 0.4rem;
  }

  .blog {
    flex-direction: column;
    max-width: 400px;
    gap: 1rem;
  }

  .blog-text {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .timeline-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 3rem;
  }

  .item {
    border-left: 2px dotted var(--light-green);
    border-top: none;
    padding: 2rem;
    margin-left: 3rem;
  }

  .item:first-child {
    padding-left: 2rem;
    padding-top: 0;
  }
  .item:last-child {
    padding-right: 0;
  }

  .item::before {
    margin-top: 9.5px;
    margin-left: -42px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    margin: 1rem 1rem;
  }

  .big-text {
    font-size: 1.8rem;
    word-spacing: 0.8%;
  }

  .medium-text {
    font-size: 1.5rem;
    word-spacing: 0.8%;
  }

  .menu ul li:first-child {
    display: none;
  }
  .menu ul li:nth-child(2) {
    display: none;
  }
  .menu ul li:nth-child(3) {
    display: none;
  }
  .menu .button {
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  #hero {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-text, .hero-img {
    padding: 0;
  }

  .hero-text {
    text-align: center;
  }

  .skill {
    width: 55px;
    height: 55px;
    margin: 0.4rem;
  }

  .blog {
    flex-direction: column;
    max-width: 400px;
    gap: 1rem;
  }

  .blog-text {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}
