:root {
  --blue: #2a2552;
  --green: #3ad4af;
  --light-green: #e6f7f3;
  --blackish: #212529;
  --grey: #c5c3c3;
  --white: #ffffff;
  --blue-bg: #e9f2fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
}

.container {
  text-align: center;
  margin: 2rem 2rem;
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.big-text {
  font-size: 40px;
  word-spacing: 1%;
}

.medium-text {
  font-size: 30px;
  word-spacing: 1%;
}

nav,
.hero-section {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  padding: 0.75rem 1.2rem;
}

.logo p {
  border-bottom: solid 2px var(--green);
}

.menu ul {
  display: flex;
  justify-content: space-between;
}

.menu ul li {
  list-style-type: none;
  padding: 0.75rem 1.2rem;
  margin-left: 1rem;
}

.menu ul li a {
  text-decoration: none;
  color: var(--blue);
}

.button {
  background-color: var(--green);
  color: var(--blue);
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

#hero {
  background-image: url('./../assets/images/01.svg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: cover;
}

.hero-section {
  margin: 4rem 0;
  margin-left: 3.5rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
}

.social-icons {
  display: flex;
  justify-content: start;
  margin-top: 1rem;
}

.social-icons img {
  margin-right: 1rem;
}

.right img {
  width: 80%;
  text-align: center;
}

#projects {
  padding: 1rem 3rem;
  box-sizing: border-box;
  background-image: url('./../assets/images/02.svg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: cover;
}

.headline {
  text-align: center;
  margin: 6rem auto;
}

.headline h1 {
  display: inline-block;
  border-bottom: 5px solid var(--green);
}

.flex-project-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project {
  max-width: 300px;
  box-sizing: border-box;
  margin: 1rem 1rem;
  border-radius: 5px;
  background: linear-gradient(120deg, var(--green), var(--blue));
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.15);
}

.project-name {
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.project-name h3 {
  margin: 1rem 0 0 1rem;
  padding: 0.2rem 0.7rem;
  color: var(--white);
  border-radius: 8px;
  display: inline-block;
  background-color: var(--blackish);
}

.p1 {
  background-image: url('./../assets/projects/shortly.png');
}

.p2 {
  background-image: url('./../assets/projects/QRCode.png');
}
.p3 {
  background-image: url('./../assets/projects/randomQuotes.png');
}
.p4 {
  background-image: url('./../assets/projects/chatroom.png');
}
.p5 {
  background-image: url('./../assets/projects/coronaTracker.PNG');
}
.p6 {
  background-image: url('./../assets/projects/calculator.PNG');
}

.icons {
  margin: 1rem auto 0 auto;
  text-align: center;
}

.icons img {
  margin: 0 1rem;
}

.technologies {
  margin: 0.5rem 1rem;
}

.technologies ul {
  list-style-type: none;
}

.technologies ul li {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin: 0.3rem;
  border: 1px solid var(--blue);
  border-radius: 5px;
  background: linear-gradient(120deg, var(--green), var(--blue));
  color: var(--white);
}

.technologies ul li:last-child {
  margin-bottom: 1rem;
}

#education {
  background-color: url('./../assets/images/03.svg');
  background-repeat: no-repeat;
  background-position: cover;
  object-fit: cover;
}

.timeline-wrapper {
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
}

.item {
  border-top: 2px dotted var(--grey);
  display: inline-block;
  text-align: left;
  padding: 1rem 2rem;
  position: relative;
}

.item:first-child {
  padding-left: 0;
}

.item:last-child {
  padding-right: 0;
}

.item::before {
  content: ' ';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid var(--blue);
  border-radius: 50%;
  margin-top: -1.6rem;
  background-color: var(--green);
}

#education .timeline-wrapper .item p:first-child {
  font-size: 25px;
  font-weight: 600;
}

.wrapper,
.citem {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-flow: row-wrap;
}

.wrapper {
  padding-bottom: 3rem;
}

.citem {
  text-align: left;
  justify-content: left;
  margin: 0.5rem;
}

.citem p {
  font-size: 20px;
}

.citem i {
  width: 25px;
  text-align: center;
}

.wrapper img {
  border-radius: 50%;
  border: 8px solid var(--blue);
  object-fit: fill;
}

footer {
  margin: 1rem 0 0 0;
  padding: 3rem;
  background: linear-gradient(120deg, var(--green), var(--blue));
}

footer p {
  text-align: center;
  color: var(--white);
}

footer p a {
  text-decoration: none;
  color: var(--green);
}

@media screen and (max-width: 500px) {
  .container {
    margin: 1rem 1rem;
  }

  .big-text {
    font-size: 30px;
    word-spacing: 0.8%;
  }

  .medium-text {
    font-size: 25px;
    word-spacing: 0.8%;
  }

  .menu ul li:first-child {
    display: none;
  }
  .menu ul li:nth-child(2) {
    display: none;
  }
  .menu ul li:nth-child(3) {
    display: none;
  }

  .menu .button {
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .hero-section {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-evenly;
  }

  .left {
    margin: 0;
  }

  .social-icons {
    display: flex;
    text-align: center;
    justify-content: center !important;
  }

  .right img {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .timeline-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 3rem;
  }

  .item {
    border-left: 2px dotted var(--light-green);
    border-top: none;
    padding: 2rem;
    margin-left: 3rem;
  }

  .item:first-child {
    padding-left: 2rem;
    padding-top: 0;
  }
  .item:last-child {
    padding-right: 0;
  }

  .item::before {
    margin-top: 9.5px;
    margin-left: -42px;
  }
}

@media screen and (max-width: 720px) and (min-width: 499px) {
  .container {
    margin: 1rem 1rem;
  }

  .big-text {
    font-size: 30px;
    word-spacing: 0.8%;
  }

  .medium-text {
    font-size: 25px;
    word-spacing: 0.8%;
  }

  .menu ul li:first-child {
    display: none;
  }
  .menu ul li:nth-child(2) {
    display: none;
  }
  .menu ul li:nth-child(3) {
    display: none;
  }
  .menu .button {
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .hero-section {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-evenly;
  }

  .left {
    margin: 0;
  }

  .social-icons {
    display: flex;
    text-align: center;
    justify-content: center !important;
  }

  .right img {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}
