:root {
  --blue: #2a2552;
  --green: #3ad4af;
  --blackish: #212529;
  --grey: #c5c3c3;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
}

.container {
  text-align: center;
  margin: 2rem 2rem;
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.big-text {
  font-size: 40px;
  word-spacing: 1%;
}

.medium-text {
  font-size: 30px;
  word-spacing: 1%;
}

nav,
.hero-section {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  padding: 0.75rem 1.2rem;
}

.logo p {
  border-bottom: solid 2px var(--green);
}

.menu ul {
  display: flex;
  justify-content: space-between;
}

.menu ul li {
  list-style-type: none;
  padding: 0.75rem 1.2rem;
  margin-left: 1rem;
}

.menu ul li a {
  text-decoration: none;
  color: var(--blue);
}

.button {
  background-color: var(--green);
  color: var(--blue);
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

#hero {
  background-image: url('./../assets/images/01.svg');
  object-fit: cover;
}

.hero-section {
  margin: 4rem 0;
  margin-left: 3.5rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
}

.social-icons {
  display: flex;
  justify-content: start;
  margin-top: 1rem;
}

.social-icons img {
  margin-right: 1rem;
}

.right img {
  width: 80%;
}

@media screen and (max-width: 500px) {
  .container {
    margin: 1rem 1rem;
  }

  .big-text {
    font-size: 30px;
    word-spacing: 0.8%;
  }

  .medium-text {
    font-size: 25px;
    word-spacing: 0.8%;
  }

  .menu ul li:first-child {
    display: none;
  }
  .menu ul li:nth-child(2) {
    display: none;
  }
  .menu ul li:nth-child(3) {
    display: none;
  }

  .menu .button {
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .hero-section {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-evenly;
  }

  .left {
    margin: 0;
  }

  .social-icons {
    display: flex;
    text-align: center;
    justify-content: center !important;
  }

  .right img {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 720px) and (min-width: 499px) {
  .container {
    margin: 1rem 1rem;
  }

  .big-text {
    font-size: 30px;
    word-spacing: 0.8%;
  }

  .medium-text {
    font-size: 25px;
    word-spacing: 0.8%;
  }

  .menu ul li:first-child {
    display: none;
  }
  .menu ul li:nth-child(2) {
    display: none;
  }
  .menu ul li:nth-child(3) {
    display: none;
  }
  .menu .button {
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  .hero-section {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-evenly;
  }

  .left {
    margin: 0;
  }

  .social-icons {
    display: flex;
    text-align: center;
    justify-content: center !important;
  }

  .right img {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}
